services:
  inventory-service:
    build: ./services/inventory-service
    container_name: inventory
    ports: 
      - 8001:8000
    env_file:
      - ./services/inventory-service/.env

  ai-service:
    build: ./services/ai-service
    container_name: receipe_ai
    ports:
      - 8002:8000
    env_file:
      - ./services/ai-service/.env
