version: "3"
services:
  inventory-service:
    image: inventory-service
    ports: 
      - 8001:8000

  ai-service:
    image: ai-service
    ports:
      - 8002:8000
    env_file:
      - ./ai-service/.env