services:
  inventory-service:
    build: ./inventory-service
    container_name: inventory
    ports: 
      - 8001:8000
    env_file:
      - ./inventory-service/.env

  ai-service:
    build: ./ai-service
    container_name: receipe_ai
    ports:
      - 8002:8000
    env_file:
      - ./ai-service/.env
